/* ----------------------------------------------------------------------------------------------------- */
/*  Arandano Host Stylesheet Overrides
/* ----------------------------------------------------------------------------------------------------- */

mf-hr-root {
    a:hover {
        text-decoration: none;
    }
}

.mf-hr-dialog {
    border-radius: 16px !important;
    overflow: hidden;
}