<fuse-card
    class="tw-mt-8 tw-flex tw-w-full tw-max-w-140 tw-flex-col tw-p-6 tw-pb-6 sm:tw-p-8"
>
    <div class="tw-text-xl tw-font-semibold">Crear publicación</div>
    <div class="tw-mt-8 tw-flex tw-flex-col tw-items-start sm:tw-flex-row">
        <div class="tw-mb-6 tw-flex tw-items-center sm:tw-mb-0">
            <img
                class="tw-mr-4 tw-h-12 tw-w-12 tw-min-w-12 tw-rounded-full"
                [src]="user()?.avatar"
                alt="Card cover image"
            />
            <div class="sm:tw-hidden">{{ user()?.name }}</div>
        </div>
        <mat-form-field class="tw-w-full" [subscriptSizing]="'dynamic'">
            <textarea
                matInput
                [placeholder]="'¿Qué tienes en mente?'"
                [rows]="3"
                cdkTextareaAutosize
            ></textarea>
        </mat-form-field>
    </div>

    <div class="tw--mx-3 tw-mt-6 tw-flex tw-items-center sm:tw-mt-8">
        <button class="tw-mr-1 tw-px-3" mat-button>
            <mat-icon
                class="tw-icon-size-5"
                [svgIcon]="'heroicons_solid:photo'"
            ></mat-icon>
            <span class="tw-ml-2">Foto</span>
        </button>
        <!-- TODO add this menu when we have support for menu actions -->
        <!-- <button
            class="tw-mr-1 tw-px-3"
            mat-button
            [matMenuTriggerFor]="createPostMenu"
        >
            <mat-icon
                class="tw-icon-size-5"
                [svgIcon]="'heroicons_solid:ellipsis-horizontal'"
            ></mat-icon>
        </button> -->
        <button
            class="tw-ml-auto tw-mr-3 tw-px-6"
            mat-flat-button
            [color]="'primary'"
        >
            Publicar
        </button>

        <!-- <mat-menu #createPostMenu="matMenu" class="mf-tw-container">
            <button mat-menu-item>
                <span class="tw-flex tw-items-center">
                    <mat-icon
                        class="tw-mr-3 tw-icon-size-5"
                        [svgIcon]="'heroicons_solid:paper-clip'"
                    ></mat-icon>
                    <span>Archivo</span>
                </span>
            </button>
            <button mat-menu-item>
                <span class="tw-flex tw-items-center">
                    <mat-icon
                        class="tw-mr-3 tw-icon-size-5"
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                    <span>Etiquetar personas</span>
                </span>
            </button>
        </mat-menu> -->
    </div>
</fuse-card>
