<form
    [formGroup]="commentForm"
    (ngSubmit)="onSubmit()"
    class="tw-mx-4 tw-mb-3 tw-mt-6 tw-flex tw-flex-col sm:tw-mx-8"
>
    <div class="tw-flex tw-items-start">
        <hr-avatar
            class="tw-mr-4 tw-mt-2"
            [data]="user()"
            [size]="32"
        ></hr-avatar>
        <mat-form-field class="tw-w-full" [subscriptSizing]="'dynamic'">
            <textarea
                matInput
                formControlName="content"
                [placeholder]="'Escribe tu respuesta...'"
                [rows]="1"
                cdkTextareaAutosize
            ></textarea>
            <button
                mat-icon-button
                class="-tw-mr-3"
                type="submit"
                [disabled]="
                    !commentForm.get('content')?.value || commentForm.pristine
                "
            >
                <mat-icon
                    class="tw-icon-size-5"
                    [svgIcon]="'mat_solid:send'"
                ></mat-icon>
            </button>
        </mat-form-field>
    </div>
</form>
